<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="col-sm-12" style="font-size: 20px; margin-top: 10px; margin-bottom: 10px; font-weight: bold; color: cornflowerblue; margin-left: 200px;">
            List your Event in just few clicks.
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="position-center">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-2 col-lg-2 control-label " for="inputSuccess">Catagories</label>
                                    <div class="col-lg-6" style="margin-bottom:-15px;">
                                        <select class="form-control m-bot15" ng-model="newEvent.category">
                                            <option value="Comedy">
                                                Comedy
                                            </option>
                                            <option value="Culture">
                                                Culture
                                            </option>
                                            <option value="FoodnDrinks">
                                                Food &amp; Drinks
                                            </option>
                                            <option value="Literature">
                                                Literature
                                            </option>
                                            <option selected="" value="Music">
                                                Music
                                            </option>
                                            <option value="Nightlife">
                                                Nightlife
                                            </option>
                                            <option value="Sports">
                                                Sports
                                            </option>
                                            <option value="Sports">
                                                Startup
                                            </option>
                                            <option value="CollegeEvents">
                                                College Events
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="eventName" class="col-lg-2 col-sm-2 control-label">Event Title</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="eventName" placeholder="Event Name" ng-model="newEvent.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-lg-2 col-sm-2 control-label">Description</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" id="Comment" rows="5" placeholder="Some Details about event" ng-model="newEvent.description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 col-sm-2   control-label">Tags</label>
                                    <div class="col-md-10">
                                        <input class="form-control" id="tags_1" ng-model="newEvent.tags" placeholder="Some Details about event" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-sm-2">Start Date &amp; Time</label>
                                    <div class="dropdown" style="margin-top: 10px;">
                                        <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                                            <div class="input-append col-md-10">
                                                <input type="text" class="input-large" ng-model="newEvent.start_time" style="width: 100%; border: 1px solid #ccc; border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" placeholder = "  Give us your event start timings">
                                                <span class="add-on">
                                                    <i
                                                    class="icon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker ng-model="newEvent.start_time" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }" data-on-set-time="onTimeSet(newDate, oldDate)"></datetimepicker>
                                        </ul>
                                    </div>
                                </div>
                                <!--       <div class="form-group">
                              <label class="control-label col-lg-2 col-sm-2">End Date &amp; Time</label>
                              <div class="dropdown" style="margin-top: 10px;">
                                  <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                                      <div class="input-append col-md-10">
                                          <input type="text" class="input-large" ng-model="newEvent.end_time" style="width: 100%; border: 1px solid #ccc; border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);">
                                          <span class="add-on">
                                          <i class="icon-calendar"></i></span>
                                      </div>
                                  </a>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                      <datetimepicker ng-model="newEvent.end_time" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                                  </ul>
                              </div>
                          </div> -->
                                <div class="form-group">
                                    <label class="control-label col-lg-2 col-sm-2">Image</label>
                                    <div class="col-md-9">
                                        <!--<form name="myForm">  -->
                                         <div class="col-lg-10" style="padding-left: 0px;">
                                                <input type="file" ng-model-instant id="fileToUpload" onchange="angular.element(this).scope().setFiles(this)" />
                                                </div>
                                             <img class="img-responsive" ng-model="confirmed" id="preview-pic" src="" > 
                                       <!--  </form> -->
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label for="location" class="col-lg-2 col-sm-2 control-label">Location</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="location" ng-model="newEvent.location" placeholder="Place of event">
                                    </div>
                                </div>
                                <div class="form-group" style="padding-bottom: 30px;">
                                    <label for="Price" class="col-lg-2 col-sm-2 control-label">Price</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="Price" ng-model="newEvent.price" placeholder="Price In Rupee">
                                    </div>
                                </div>
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-info" ng-click="AddEvent(newEvent)">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
