 
 <div class="col-sm-12" style="margin-top:20px;">
            <div class="panel panel-default">
                <div class="panel-heading" >
                   <h4> <span style= "margin-right: 10px;"class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>{{ currentEvent.name }}</h4>
                </div>
            </div>           
        </div>

<div class=" col-xs-12" style="margin-top:20px;">
   
    <img class="img-responsive" style="margin-left: 70px;" ng-src="{{currentEvent.cover}}" ng-if="!showFallBackImg" />
    <img class="img-responsive" style="max-width: 90%; margin-left: 70px;" ng-if="showFallBackImg" src="../images/weather_image.jpg" />
    <table style=" margin-left: 70px; margin-top: 20px; text-align: left; width: 100%;">
       <!--  <tr>
           <td>Name: </td>
           <td>{{ currentEvent.name }}</td>
       </tr> -->
        <tr>
            <td>Category: </td>
            <td>{{ currentEvent.category }}</td>
        </tr>
        <tr>
            <td>Description: </td>
            <td>{{ currentEvent.description }}</td>
        </tr>
        <tr>
            <td>Start Time: </td>
            <td>{{ currentEvent.start_time }}</td>
        </tr>
        <tr>
            <td>Phone1: </td>
            <td>{{ currentEvent.phone1 }}</td>
        </tr>
        <tr>
            <td>Price: </td>
            <td>{{ currentEvent.price }}</td>
        </tr>
    </table>
</div>
