<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row" style="text-align : center;">
            <div class="col-sm-12" ng-show="hideSearchBar && filteredEvents.length !== 0">
                <input type="text" class="inbox__search" style="color: darkorchid; width: 300px; margin: 15px 0;" ng-model="keyword" placeholder="Search within events">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" ng-show="!filteredEvents.length" style="font-size: 20px; margin-top: 20px; font-weight: bold; color: crimson; margin-left: 160px;">
                No Events posted by you. Try adding some on Add-Event page.
            </div>

            <div class="col-sm-6" ng-repeat="e in filteredEvents  | filter:keyword " style="text-align : center;">
                <header class="panel-heading" id="eventheading1" style="font-weight:bold;">
                    {{ e.name }}
                </header>
                <section class="panel">
                    <div>
                        <div class="row">
                            <div class=" col-xs-9">
                                <img class="img-responsive" style="height:122px; display: initial;" ng-click="ShowEventDetails(e)" ng-if=" e.cover != '' " ng-src="{{e.cover}}" />
                                <img class="img-responsive" style="max-width: 90%; margin-left: 70px;" ng-click="ShowEventDetails(e)" ng-if=" e.cover == '' " src="../images/weather_image.jpg" />
                                <div class="col-sm-12" style="margin: 10px;">
                                    Starts @ {{ e.start_time}}
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="btn-group-vertical">
                                    <a role="button" href="" target="_blank" class="btn btn-white" ng-click="ShowEventDetails(e)">View</a>
                                   <a role="button"  target="_blank" class="btn btn-white" ng-click="EditEvent(e)">Edit</a>
                                   
                                   <!-- s<a role="button" href="" target="_blank" class="btn btn-white">Status</a> -->
                                    <button type="button" class="btn btn-white" data-toggle="modal" ng-click="ConfirmDelete(e)" data-target="#myModal">Delete</button>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>           
        </div>        
    </section>
</section>
