ion id="container" style="padding:50px;">
        <section class="wrapper">
            <!-- page start-->

            <div class="row" style="margin-top:-50px;">
                <div class="col-sm-12 " style="padding:0; font-family:'Century Gothic';box-shadow:2px 5px 6px 0 rgba(21, 20, 20, 0.26)">
                    <section class="panel">
                        <header class="panel-heading" style="background-color:#42444f;color:white;font-weight:600;font-size:medium;">
                            Become Our Campus Ambassador

                        </header>
                        <div class="panel-body">
                            <div id="wizard">
                                <h2>First Step</h2>
                                <section>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Full Name</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" placeholder="Ex. Ravi Kumar">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Email Address</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" placeholder="Ex: abc@gmail.com">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">College Name</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" placeholder="College/School Name">
                                            </div>
                                        </div>
                                    </form>
                                </section>
                                <h2>Second Step</h2>
                                <section>
                                    <form class="form-horizontal">

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="fileupload fileupload-new " data-provides="fileupload">
                                                        <div class="fileupload-new thumbnail" style="margin-bottom:0px;border:0px;padding:0px;">
                                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                                        </div>
                                                        <div class="fileupload-preview fileupload-exists thumbnail" style="margin-bottom:0px;border:0px;padding:0px;"></div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <span class="btn btn-white btn-file" style="margin-left:-50px;">
                                                        <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select image</span>
                                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                                        <input type="file" class="default" />
                                                    </span>

                                                    <br />
                                                    <div style="margin-top:15px;">

                                                        <span>Note: Size should be 650 x 650</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">Mobile</label>
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" placeholder="Mobile">
                                            </div>
                                        </div>


                                    </form>
                                </section>
                                <h2>Third Step</h2>
                                <section>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <section class="panel">
                                                <div class="panel-body toggle-heading" style="margin-top:-40px;">
                                                    <h4>Please Choose atleast Google+ and Facebook</h4>
                                                    <div class="m-bot20">
                                                        <div class="row">
                                                            <div class="col-xs-12" style="padding:5px;">

                                                                <div class="col-xs-3 pull-left">
                                                                    <a class="btn btn-block btn-social btn-facebook">
                                                                        <i class="fa fa-facebook"></i> Sign in with facebook
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12" style="padding:5px;">
                                                                <div class="col-xs-3 pull-left">
                                                                    <a class="btn btn-block btn-social btn-twitter">
                                                                        <i class="fa fa-twitter"></i> Sign in with Twitter
                                                                    </a>
                                                                    </div>
                                                                </div>
                                                            <div class="col-xs-12" style="padding:5px;">
                                                                <div class="col-xs-3 pull-left">
                                                                    <a class="btn btn-block btn-social btn-linkedin">
                                                                        <i class="fa fa-linkedin"></i> Sign in with linkedin
                                                                    </a>
                                                                    </div>
                                                                </div>
                                                            <div class="col-xs-12" style="padding:5px;">
                                                                <div class="col-xs-3 pull-left">
                                                                    <a class="btn btn-block btn-social btn-instagram">
                                                                        <i class="fa fa-instagram"></i> Sign in with instagram
                                                                    </a>
                                                                    </div>
                                                                </div>
                                                            <div class="col-xs-12" style="padding:5px;">
                                                                <div class="col-xs-3 pull-left">
                                                                    <a class="btn btn-block btn-social btn-google">
                                                                        <i class="fa fa-google"></i> Sign in with Twitter
                                                                    </a>
                                                                </div>
                                                                </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </section>


                                        </div>
                                    </div>
                                </section>
                                <h2>Final Step</h2>
                                <section>
                                    <p>Congratulations This is the Final Step</p>
                                </section>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <!-- page end-->
        </section>
    </section>